@font-face {
  font-family: 'Feather Bold';
  src: url('/assets/fonts/Feather-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root,
html,
body,
#root,
.MuiTypography-root,
.MuiButton-root,
.MuiInputBase-input,
.MuiTableCell-root,
.MuiTab-root,
.MuiListItemText-root,
.MuiMenuItem-root,
[class^='Mui'] {
  font-family: 'Feather Bold', Arial, Helvetica, sans-serif !important;
}
